<header>
        <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        <p>{{ site.description }}</p>

<!--
        <h2>Pages</h2>
        {% for page in site.pages %}
          <p><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></p>
        {% endfor %}


        <h2>Posts</h2>
        {% for post in site.posts %}
          <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span><br>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endfor %}
-->
</header>
