{% assign education = site.data.cv.education %}
{% if education %}
<section class="education">
    <div class="title">Education</div>
    {% for ed in education %}
        <div class="education-item">
            <div class="degree">{{ed.degree}}</div>
	    {% if ed.class %}
            <div class="degree-class">{{ed.class}}</div>
	    {% endif %}
	    <div class="university">{{ed.university}}</div> 
            <div class="time">{{ed.time}}</div>
        </div>
    {% endfor %}
</section>
{% endif %}