{% assign cv = include.cv | default: site.data.cv %}
{% assign research = cv.research %}
{% if research %}
<section class="projects{% include cv/print-page-break-class.html cv=cv slug="research" %}">
    <h2 class="title">Research Projects</h2>
    {% for p in research %}
        <div class="project">
	  <span class="name">
	  {% if p.link %}
	    <a href="{{p.link}}">{{p.title}}</a>
	  {% else %}
	    {{p.title}}
	  {% endif %}
	  </span>
	  <span class="details">— {{p.details | markdownify}}</span>
        </div>
    {% endfor %}
</section>
{% endif %}