---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

ul.social-icons {
    #display: none;
}

h3.author__name {
    display: none;
}

h3 {
    margin: 1.5em 0 0.75em;
}

h4, h5, h6 {
    margin: 1em 0 0.5em;
}

ul {
    margin-block-start: 0.5em;
}

a.site-title {
    font-size: 1.5em;
}

.page__content dd, dt {
    font-size: 0.9em;
}
