.appointments {
    .title {
        @include header;
    }
    .appointments-item {
        .role {
            @include sub-header;
	    margin-top:10px;
        }
        .company {
            @include body-text;
            font-weight: bold;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .details {
            @include body-text;
	    line-height: 1.3;
	    p {
		display: inline;
	    }
	    em {
		color: var(--fg-color-title-sm);
		font-weight: bold;
		font-style: normal;
	    }
        }
        .activities {
            @include body-text;
        }
    }
}
